@use "../../scss/global" as g;
@use "../../scss/queries" as q;
@use "../../scss/mixins";

.block {
  margin: 1rem 0;
  padding-top: 1rem;
  border-top: 1px solid g.$clr-grey-3;
  @include mixins.flex(row, flex-start, flex-start, 0);
}

.left {
  flex: 1;
}

.right {
}

.name {
  font-size: 1.25rem;
  font-weight: 500;
  color: g.$clr-accent;
}

.email {
  font-size: 0.75rem;
  color: g.$clr-grey-5;
}

.hgroup {
  padding: 0.5rem var(--inset);
  background: white;

  @include mixins.bg();
  @include mixins.flex(row, flex-start, center, 0);

  h1 {
    flex: 1;
    font-weight: 600;
    font-size: 1.5rem;
    color: g.$clr-accent;
  }
}
