@use "../../scss/global" as g;
@use "../../scss/queries" as q;
@use "../../scss/mixins";

.block {
  @include mixins.flex(row, flex-start, flex-start, 0);

  padding: 1rem;
  border: 1px solid g.$clr-grey-3;
  border-radius: 10px;

  @include q.phone {
    @include mixins.flex(column, flex-start, flex-start, 1rem);
  }
}

.left {
  flex: 1;
}

.right {
  @include mixins.flex(column, flex-start, flex-start, 0.5rem);
  @include q.phone {
    @include mixins.flex(row, flex-start, flex-start, 0.5rem);
  }

  button {
    min-width: 6rem;
  }
}

.email {
  font-size: 0.75rem;
  color: g.$clr-grey-5;
}

.hgroup {
  padding: 0.5rem var(--inset);
  background: white;

  @include mixins.bg();
  @include mixins.flex(row, flex-start, center, 0);
}
