@use "../../scss/global" as g;
@use "../../scss/queries" as q;
@use "../../scss/mixins";

.hgroup {
  padding: 0.5rem var(--inset);
  background: white;

  @include mixins.bg();
  @include mixins.flex(row, flex-start, center, 0);
}

.frame {
  margin: 2rem calc(var(--inset) - 1rem);
  padding: 1rem;
  border-radius: 10px;
  min-height: calc(100vh - 8rem);

  @include mixins.flex(column, flex-start, stretch, 0);
  @include mixins.bg();
}
