@use "../../scss/global" as g;
@use "../../scss/queries" as q;
@use "../../scss/mixins";

.chat {
  width: 80%;
  @include mixins.flex(column, flex-start, flex-start, 1rem);
  border-radius: 10px;
  padding: 1rem;
}

.user {
  align-self: flex-end;
  background-color: g.$clr-accent;

  .chat_message {
    color: white;
    font-weight: 500;
  }
}

.assistant {
  border: 1px solid g.$clr-grey-3;
}

.chat_role {
  display: none;
  font-weight: 600;
}

.chat_message {
  white-space: pre-wrap;
}
