$clr-grey-1: rgb(225, 225, 225);
$clr-grey-2: rgb(200, 200, 200);
$clr-grey-3: rgb(175, 175, 175);
$clr-grey-4: rgb(150, 150, 150);
$clr-grey-5: rgb(125, 125, 125);
$clr-grey-6: rgb(100, 100, 100);
$clr-grey-7: rgb(075, 075, 075);
$clr-grey-8: rgb(050, 050, 050);
$clr-grey-9: rgb(025, 025, 025);

$clr-background: #ebf7ff;
$clr-accent: #13a0ff;
$clr-obsidian: #005d9c;

$clr-pollen: #ffd23f;
$clr-turqoise: #f291ff;
$clr-jungle: #0ead69;
