@use "../../scss/global" as g;
@use "../../scss/queries" as q;
@use "../../scss/mixins";

.form {
  @include mixins.flex(row, flex-start, center, 0.5rem);
  flex: 1;

  input {
    min-width: none;
    flex: 1;
  }
}
